.catalogue {
    // padding: 0 15px;
    .video-div {
        padding: 1px;
        height: 200px;
    }

    .view-count {
        bottom: 0;
        left: 5px;
    }

    .product-loading-center {
        left: 50%;
        bottom: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
    }
}