.landing-page {
    height: 100vh;

    .bg-img-div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60%;
        box-shadow: 0 4px rgba(0, 0, 0, 0.25);

        button {
            box-shadow: 0 4px rgba(0, 0, 0, 0.25);
        }
    }
}


  