.text-input {
    width: 100%;
    outline: blue;
    background-color: rgba(34, 34, 34, 0.05);
    padding: 20px;
    border: none;
}

.text-input:focus {
    outline: 1px solid rgba(39, 113, 255, 1) ;
}

.otp-input {
    padding: 1rem!important;
    margin-right: .5rem!important;
    width: 100%!important;
    background-color: rgba(34, 34, 34, 0.05);
}

.otp-input:focus {
    outline: 1px solid rgba(39, 113, 255, 1);
}

.otp-countdown {
    background-color: rgba(34, 34, 34, 0.05);
    color: rgba(34, 34, 34, 0.4);
}

