
#large-screen-error-msg {
  display: none;
}

.text-default {
  color: #2771ff;
}

.text-default-dark {
  color: #062e7c;
}

.bg-default {
  background-color: #2771ff;
}

.bg-default-dark {
  background-color: #062e7c;
}

.w-max-content {
  width: max-content;
}

.mt-6 {
  margin-top: 15rem;
}

.mt-8 {
  margin-top: 17.5rem;
}

.mt-10 {
  margin-top: 20rem;
}

.mb-8 {
  margin-bottom: 10rem;
}

@media(min-width: 576px) {

  #large-screen-error-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 2rem;
    font-weight: bold;
  }

  #root {
    display: none;
  }
}
